<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации ваших друзей.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success" href="#" role="button">Создать аккаунт</a>
    <a class="btn btn-primary" href="#" role="button">Войти</a>
  </p>
</div>

